.item-wrap {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
}

.modDatosProductos {
    padding: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.item-title-home {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    display: block;
    padding: 14px 0;
    text-transform: uppercase;
    text-align: center;
}

.read-more-home-container {
    text-align: center;
    margin-top: 24px;
}

.orange-read-more {
    background-color: #f15a24;
    padding: 11px 32px;
    color: #fff !important;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: inline-block;
    font-weight: 500;
}