.App {
  text-align: center;
}

.App-logo-on {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo-off {
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
